<header>
    <div class="navbar">
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <div class="left-panel">
                        <button>
                            <span class="logo"></span>
                            Find & Shop
                        </button>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <button class="cart-icon">
                    </button>
                </a>
            </li>
        </ul>
    </div>
</header>