<div *ngIf="items.length" class="items-suggestion-container">
    <div class="item {{i}}" *ngFor="let item of items; let i = index" (click)="addToCart(item)"
        [id]="(selectedItemIndex === i? 'selected': '')">
        <div *ngIf="selectedItemIndex === i; then selected" #selected></div>
        <ng-template #selected>
            <div class="selected-{{i}}" #scrollTarget></div>
        </ng-template>
        <img src={{item.image}} alt="{{item.name}}" />
        <span class="item-name">{{item.name}}</span>
        <span class="item-description">{{item.description}}</span>
        <span class="item-price"><strong>Price:</strong> ${{item.price}}</span>
        <button>Add to cart</button>
    </div>
</div>